@import "./variables.less";

.VuetifyApp {
  .v-application
    .v-alert__content {
       padding-right: 10px !important;
  }
  .documents-application {
    .v-alert {
      z-index: 9999;
    }
    .closeIcon {
      border-radius: 50%;
      top: 35px;
      left: 10px;
    }

    .searchIcon {
      top: 20px;
      left: 9px;
    }
    .document-tree-items {
      max-width: 100% !important;
      width: 100% !important;
  
      .document-tree-item {
        .path-clickable {
          max-width: 97% !important;
  
          &:hover {
            color: @primaryColor !important;
          }
        }
      }
    }

    .document-breadcrumb-wrapper {
      max-width: 95% !important;
      width: 95% !important;
  
      .document-long-path {
        .long-path-first-item {
          max-width: 100px;
          min-width: 60px;
        }
  
        .long-path-second-item {
          max-width: 42px;
        }
  
        .long-path-third-item {
          max-width: 50%;
          min-width: 60px;
        }
      }
    }

    .documentViewTabs {
         .v-tab.v-tab--active {
           border: 1px solid var(--allPagesPrimaryColor, #578dc9) !important;
           background-color: var(--allPagesTabNormalLinkBackground, #f0f4f7) !important;
           .tabIcon{
             color: var(--allPagesPrimaryColor, #578dc9) !important;
             }
         }
         .v-tabs-slider-wrapper {
           display: none;
         }
      .v-tabs-bar {
        height: auto!important;
        .tabIcon{
          font-size: 16px;
          color: @greyColorLighten1 !important;
          padding-right: 8px;
        }
        .mobile {
          padding-right: 0px!important;
        }
        .firstTab {
          border: 1px solid @borderColor;
          border-radius: 5px 0 0 5px;
          height: 40px;
          min-height: 40px;
          min-width: 40px;
        }
        .middleTab {
          border: 1px solid @borderColor;
          border-radius: 0;
          height: 40px;
          min-height: 40px;
          min-width: 40px;
        }
        .lastTab {
          border: 1px solid @borderColor;
          border-radius: 0 5px 5px 0;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
        }
      }
    }
    .documents-header-right-actions {
      .inputDocumentsFilter {
        width: 245px;
      }

      .v-input__slot:before {
        border-color: @greyColorLighten1 !important;
      }

      .v-input__prepend-inner {
        margin-bottom: 8px;

        i {
          font-size: 18px;
        }
      }

      .v-text-field__slot {
        margin-bottom: 6px;
      }



      .v-input__icon--append .v-icon {
        font-size: 16px;
      }

      #filterDocumentsSelect {
        height: 40px;
        width: -moz-fit-content;
        width: fit-content;
      }

    }

    .documents-body {
      min-height: calc(~"100vh - 300px");
      .documents-no-body {
        height: 276px;
      }
      .action-menu-item:hover {
        background-color: #e4e5e7;
      }
      .breadCrumb-link {
        font-size: 20px !important;
      }
      .action-menu-item {
        min-height: 30px !important;

        i.v-icon.fa-star {
          padding-right: 8px !important;
        }
        .v-icon.mdi-form-textbox, .v-icon.fa-download  {
          padding-right: 4px;
        }
      }
      .documentInfoDrawer {
        .v-list-item {
          min-height: 30px!important;
        }
        .v-list-item__content {
          padding: 10px 0;
        }
        .fileName {
          max-width: 320px;
          word-wrap: break-word;
          display: inline-block;
        }
        .fileDetails {
          font-size: 14px;
        }
      }
      .loadingClassMobile {
        table {
          tbody {
            height: 400px;
          }
          colgroup {
            display: none;
          }
        }
      }
      .loadingClass {
        table {
          tbody {
            height: 285px;
          }
          colgroup {
            display: none;
          }
        }
      }


      .documents-table,.documents-folder-table {
        tbody {
          tr:hover button.v-icon.mdi-dots-vertical.button-document-action {
            display: flex !important;
          }
          tr:hover .button-info-details button.v-icon.fa-info-circle {
            display: initial !important;
          }

          td {
            border-bottom: none !important;

            .documentActionMenu {
              top: -100px !important;
              left: auto !important;
              right: 20px;
              min-width: 110px !important;
              .menu-list{
                font-size: 13px;
                color: @darkGrey !important;
                .iconStyle {
                  color: @darkGrey !important;
                }
                .dividerStyle {
                  color: @greyColorDefault !important;
                }
              }
            }

            .documentActionMenuMobile {
              top: 2vh !important;
              left: auto !important;
              right: 4vw;
              max-width: none;
              min-width: 187px !important;

              .v-list-item__title {
                flex: initial;
              }
            }

            .attachment {
              .documentEditName {
                .v-input__slot {
                  padding-right: 4px;
                  height: 35px;
                  min-height: auto !important;
                  .v-input__append-inner {
                    margin-top: 5px;
                  }
                }
              }
              .document-title {
                max-width: 438px;
                padding-top: 2px;
              }

              span {
                a {
                  color: @textColor !important;
                  text-decoration-color: @greyColorLighten1;
                  pointer-events: none;
                }

                &:hover {
                  text-decoration-color: @greyColorLighten1 !important;
                  text-decoration-thickness: 2px !important;
                  text-underline-offset: 2px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .documents-header-left-action {
    #addItemMenu {
      font-weight: normal !important;
      height: 38px;
      width: 91px;
      font-size: 13px;

      .menu-text {
        font-size: 13px !important;
        color: var(--allPagesDarkGrey, #4d5466) !important;
      }

      .add-menu-btn {
        left: 11px !important;
        right: 20px;
        top: 60px !important;
        background: white;
        width: 110px !important;
        font-size: 13px;
      }
      #addBtn {
        font-size: 13px !important;
        &:focus {
          &::after {
            opacity: 0 !important;
          }
        }
      }
    }
    .add-menu-list-item{
      min-height: 35px !important;
    }
    .add-menu-list-item .v-icon{
      color: var(--allPagesDarkGrey, #4d5466) !important;
    }
  }

  .documents-application.mobile {
    margin-top: 0;
    .documents-no-body {
      height: 370px;
    }

    .documents-header-left-action {
      button {
        height: 40px;
        min-width: initial;
        width: 40px;
      }
    }

    .documents-header-right-actions {
      .inputDocumentsFilter {
        width: auto;
      }

      .v-input__prepend-inner {
        i {
          font-size: 16px;
        }
      }

      #filterDocumentsSelect {
        width: 60px;
      }
    }

    .documents-table {
      tbody {
        .v-data-table__mobile-table-row > :first-child {
          display: none;
        }
      }
    }
    .v-data-table__wrapper {
      padding-bottom: 28px;

      .v-row-group__header {
        button {
          padding-left: 4px !important;
        }
      }

      .v-data-table-header-mobile {
        display: none;
      }

      .v-data-table__mobile-row__header {
        display: none;
      }

      .v-data-table__mobile-table-row > :nth-child(2) {
        padding-right: 0px;
        padding-left: 34px;
      }

      .v-data-table__mobile-table-row > :last-child {
        padding: 0;
        margin: 0;
      }

      .v-data-table__mobile-row__cell {
        .attachment {
          i {
            font-size: 32px !important;
          }

          .document-title {
            width: 56vw !important;
          }
        }
      }

      .v-data-table__mobile-table-row {
        display: inline-flex;

        .document-time {
          text-align: left;
          margin-left: 16px;
          font-size: 12px;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .maskLayer .uiDocumentPreview .fileContent {
    background: black !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 599px) {
  #switchToOldDocuments {
    font-size: 12px;
  }
  .documentInfoDrawer {
    .fileDetails {
      font-size: 12px!important;
    }
  }
  .documentEditName {
    width: 206px;
  }

  .documents-body {
    .mobile-menu-item {
      min-height: 48px !important;
      .v-icon {
        color: @darkGrey !important;
        width: 28px!important;
        height: 28px!important;
      }
    }
  }

}
@media screen and (max-width: 360px) {
  .documentEditName {
    width: 179px;
  }
}
