@import "./variables.less";

.VuetifyApp {
  .documents-application {
    .documents-header-right-actions {
      .inputDocumentsFilter {
        width: 245px;
      }

      .v-input__slot:before {
        border-color: @greyColorLighten1 !important;
      }

      .v-input__prepend-inner {
        margin-bottom: 8px;

        i {
          font-size: 18px;
        }
      }

      .v-text-field__slot {
        margin-bottom: 6px;
      }

      .closeIcon {
        border-radius: 50%;
        top: 23px;
      }

      .searchIcon {
        top: 20px;
        left: 9px;
      }

      .v-input__icon--append .v-icon {
        font-size: 16px;
      }

      #filterDocumentsSelect {
        height: 40px;
        width: -moz-fit-content;
        width: fit-content;
      }

    }

    .documents-body {
      min-height: calc(~"100vh - 300px");

      .action-menu-item {
        min-height: 30px !important;

        i.v-icon.fa-star {
          padding-right: 8px !important;
        }
      }
      .loadingClassMobile {
        table {
          tbody {
            height: 400px;
          }
          colgroup {
            display: none;
          }
        }
      }
      .loadingClass {
        table {
          tbody {
            height: 285px;
          }
          colgroup {
            display: none;
          }
        }
      }

      .documents-table {
        tbody {
          tr:hover button.v-icon.mdi-dots-vertical.button-document-action {
            display: inline-block !important;
          }

          td {
            border-bottom: none !important;

            .documentActionMenu {
              top: -100px !important;
              left: auto !important;
              right: 20px;
              min-width: 110px !important;
              .menu-list{
                font-size: 13px;
                color: @darkGrey !important;
                .iconStyle {
                  color: @darkGrey !important;
                }
                .dividerStyle {
                  color: @greyColorDefault !important;
                }
              }
            }

            .documentActionMenuMobile {
              top: 2vh !important;
              left: auto !important;
              right: 4vw;
              max-width: none;
              min-width: 187px !important;

              .v-list-item__title {
                flex: initial;
              }
            }

            .attachment {
              .documentEditName {
                .v-input__slot {
                  padding-right: 4px;
                  height: 35px;
                  min-height: auto !important;
                  .v-input__append-inner {
                    margin-top: 5px;
                  }
                }
              }
              .document-title {
                max-width: 438px;
              }

              span {
                a {
                  color: @textColor !important;
                  text-decoration-color: @greyColorLighten1;
                  pointer-events: none;
                }

                &:hover {
                  text-decoration-color: @greyColorLighten1 !important;
                  text-decoration-thickness: 2px !important;
                  text-underline-offset: 2px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .documents-application.mobile {
    margin-top: 0;

    .documents-header-left-action {
      button {
        height: 40px;
        min-width: initial;
        width: 40px;
      }
    }

    .documents-header-right-actions {
      .inputDocumentsFilter {
        width: auto;
      }

      .v-input__prepend-inner {
        i {
          font-size: 16px;
        }
      }

      #filterDocumentsSelect {
        width: 60px;
      }
    }

    .v-data-table__wrapper {
      padding-bottom: 28px;

      .v-row-group__header {
        button {
          padding-left: 4px !important;
        }
      }

      .v-data-table-header-mobile {
        display: none;
      }

      .v-data-table__mobile-row__header {
        display: none;
      }

      .v-data-table__mobile-table-row > :first-child {
        display: none;
      }

      .v-data-table__mobile-table-row > :nth-child(2) {
        padding-right: 0px;
        padding-left: 34px;
      }

      .v-data-table__mobile-table-row > :last-child {
        padding: 0;
        margin: 0;
      }

      .v-data-table__mobile-row__cell {
        .attachment {
          i {
            font-size: 32px !important;
          }

          .document-title {
            width: 56vw !important;
          }
        }
      }

      .v-data-table__mobile-table-row {
        display: inline-flex;

        .document-time {
          text-align: left;
          margin-left: 16px;
          font-size: 12px;
        }
      }
    }
  }
}


@media (max-width: 1024px) {
  .maskLayer .uiDocumentPreview .fileContent {
    background: black !important;
    width: 90% !important;
  }
}

@media screen and (max-width: 599px) {
  #switchToOldDocuments {
    font-size: 12px;
  }
  .documentEditName {
    width: 206px;
  }

  .documents-body {
    .mobile-menu-item {
      min-height: 48px !important;
      .v-icon {
        color: @darkGrey !important;
      }
    }
  }

}
@media screen and (max-width: 360px) {
  .documentEditName {
    width: 179px;
  }
}
